################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/

# Project
/src/aspnet-core-mvc/aspnet-core-mvc.csproj.user
/src/aspnet-core-mvc/bin/
/src/aspnet-core-mvc/obj/
/src/aspnet-core-mvc/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/aspnet-core-webapi/aspnet-core-webapi.csproj.user
/src/aspnet-core-webapi/bin/
/src/aspnet-core-webapi/obj/
/src/aspnet-core-webapi/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/net-core-console/bin/
/src/net-core-console/obj/
/src/Contracts/dtos/de.playground.aspnet.core.contracts.dtos/bin/
/src/Contracts/dtos/de.playground.aspnet.core.contracts.dtos/obj/
/src/Contracts/modules/de.playground.aspnet.core.contracts.modules/bin/
/src/Contracts/modules/de.playground.aspnet.core.contracts.modules/obj/
/src/Contracts/utils/de.playground.aspnet.core.contracts.utils.logger/obj
/src/Contracts/utils/de.playground.aspnet.core.contracts.utils.logger/bin
/src/Dtos/de.playground.aspnet.core.dtos/bin/
/src/Dtos/de.playground.aspnet.core.dtos/obj/
/src/Modules/de.playground.aspnet.core.modules/bin/
/src/Modules/de.playground.aspnet.core.modules/obj/
/src/Utils/de.playground.aspnet.core.utils.swagger/bin/
/src/Utils/de.playground.aspnet.core.utils.swagger/obj/
