
@{
    ViewData["Title"] = "Welcome";
}

<div class="row">
    <div class="col">
        <h2>Welcome</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Index" role="button">Customers</a>
    </div>
</div>
